<div *ngIf = "!(user$ | async)">
  Loading...
  <i class="fa fa-spinner fa-spin"></i>
</div>
<div *ngIf = "(user$ | async)" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem" class="check-data">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <h3>Enter Your data</h3>
        </mat-card-title>
      </mat-card-header>
      <form #infoForm (ngSubmit)= "check()">
      <mat-card-content fxLayout="column">
            <input  matInput type="number"
                    [(ngModel)]="gender"
                    name ="genderInfo" hidden>

            <input  matInput type="number"
                    [(ngModel)]="age"
                    name = "ageInfo" hidden>
          <mat-form-field [ngClass]="{'hide': gender === 'male'}" class="example-full-width">
            <mat-label>The number of pregnancies </mat-label>
              <input  matInput type="number"
                      [formControl]="pregFormControl" [errorStateMatcher]="matcher" 
                      [(ngModel)]="preg_count"
                      min="0">
              <mat-error *ngIf="pregFormControl.hasError('required')">
                <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="pregFormControl.hasError('max') && !pregFormControl.hasError('required')">
                The number of pregnancies can't be over then 15 pregnancies
              </mat-error>
          </mat-form-field>
        <div fxLayout="row">
          <mat-form-field fxFlex ="70" class="example-full-width">
            <mat-label>Blood glucose concentration</mat-label>
            
              <input  matInput type="number"
                      [formControl]="glucoseFormControl" [errorStateMatcher]="matcher" 
                      [(ngModel)]="glucose"
                      min="70">
              <mat-error *ngIf="glucoseFormControl.hasError('required')">
               <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="glucoseFormControl.hasError('max') && !glucoseFormControl.hasError('required')">
                The glucose value can't be over then 110 <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="glucoseFormControl.hasError('min') && !glucoseFormControl.hasError('required')">
                 Minimum glucose value is 70 <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
          </mat-form-field>
          <i fxFlex class="far fa-question-circle" matTooltip="a number between 70 to 110"></i>
        </div>
        <div fxLayout="row">
          <mat-form-field class="example-full-width">
            <mat-label>Blood pressure level</mat-label>
              <input  matInput type="number"
                      [formControl]="diastolicFormControl" [errorStateMatcher]="matcher" 
                      [(ngModel)]="diastolic"
                      min="60">
              <mat-error *ngIf="diastolicFormControl.hasError('required')">
                <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="diastolicFormControl.hasError('max') && !diastolicFormControl.hasError('required')">
                The diastolic value can't be over then 95 <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="diastolicFormControl.hasError('min') && !diastolicFormControl.hasError('required')">
                Minimum diastolic value is 60 <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
          </mat-form-field>
          <i fxFlex class="far fa-question-circle" 
          matTooltip="The value below the slash as a result of a test, a number between 60 to 95"></i>
          </div>
          <div fxLayout="row">
          <mat-form-field class="example-full-width">
            <mat-label>Triceps skin fold thickness
            </mat-label>
              <input  matInput type="number"
                      [formControl]="tricepsFormControl" [errorStateMatcher]="matcher" 
                      [(ngModel)]="triceps"
                      min = "91">
              <mat-error *ngIf="tricepsFormControl.hasError('required')">
                <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="tricepsFormControl.hasError('max') && !tricepsFormControl.hasError('required')">
                The triceps value can't be over then {{tricepsMax}} <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="tricepsFormControl.hasError('min') && !tricepsFormControl.hasError('required')">
                Minimum triceps value is {{tricepsMin}} <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
          </mat-form-field>
          <i fxFlex class="far fa-question-circle" 
          matTooltip="About the value of fat in the triceps a number between {{tricepsMin}} to {{tricepsMax}}"></i>
        </div>
        <div fxLayout="row">
          <mat-form-field class="example-full-width">
            <mat-label>Blood insulin level</mat-label>
              <input  matInput type="number"
                      [formControl]="insulinFormControl" [errorStateMatcher]="matcher" 
                      [(ngModel)]="insulin"
                      min="16">
              <mat-error *ngIf="insulinFormControl.hasError('required')">
                <strong>required </strong> <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="insulinFormControl.hasError('max') && !insulinFormControl.hasError('required')">
                The insulin value can't be over then 175 <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="insulinFormControl.hasError('min') && !insulinFormControl.hasError('required')">
                Minimum insulin value is 16 <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
          </mat-form-field>
          <i fxFlex class="far fa-question-circle" matTooltip="a number between 16 to 175"></i>
        </div>
        <div fxLayout="row">
          <mat-form-field class="example-full-width">
            <mat-label>Diabetes</mat-label>
              <input  matInput type="number"
                      [formControl]="diabetesFormControl" [errorStateMatcher]="matcher" 
                      [(ngModel)]="diabetes"
                      min="0">
              <mat-error *ngIf="diabetesFormControl.hasError('required')">
               <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="diabetesFormControl.hasError('max') && !diabetesFormControl.hasError('required')">
                The diabetes value can't be over then 2.4 <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="diabetesFormControl.hasError('min') && !diabetesFormControl.hasError('required')">
                Minimum diabetes value is 0 <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
          </mat-form-field>
          <i fxFlex class="far fa-question-circle" matTooltip="a number between 0 to 2.4"></i>
        </div>
          <mat-form-field class="example-full-width">
            <mat-label>Weight</mat-label>
              <input  matInput type="number"
                      class="input"
                      [formControl]="weightFormControl" [errorStateMatcher]="matcher" 
                      [(ngModel)]="weight"
                      placeholder="weight in kg"
                      min="2.5">
              <mat-error *ngIf="weightFormControl.hasError('required')">
               <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="weightFormControl.hasError('max') && !weightFormControl.hasError('required')">
                The weight can't be over then 300 KG <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="weightFormControl.hasError('min') && !weightFormControl.hasError('required')">
                The weight minimum is 2.5 KG <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Height</mat-label>
              <input  matInput type="number"
                      [formControl]="heightFormControl" [errorStateMatcher]="matcher" 
                      [(ngModel)]="height"
                      placeholder="height in meters"
                      min="0.5">
              <mat-error *ngIf="heightFormControl.hasError('required')">
                <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="heightFormControl.hasError('max') && !heightFormControl.hasError('required')">
                The height can't be over then 3 meters <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="heightFormControl.hasError('min') && !heightFormControl.hasError('required')">
                The height minimum is 0.5 meters <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
          </mat-form-field>
          <mat-form-field >
            <mat-label>Examination date</mat-label>
            <input  matInput [matDatepicker]="dp3"
                    [min]="minDate" [max]="maxDate"
                    [formControl]="examinationFormControl" [errorStateMatcher]="matcher" 
                    [(ngModel)] = "examinationDate" disabled="disabled">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            <mat-error *ngIf="examinationFormControl.hasError('required')">
              <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
            </mat-error>
          </mat-form-field>
          
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">
          Check
        </button>
      </mat-card-actions>
      </form>
    </mat-card>
</div>
