.check-data {
    margin-top: 5%;
  }

  input::placeholder {
    color: white;
    opacity: 0.5; 
  }
  mat-card {
    min-width: 30%;
    color: white;
    background-color: #343a40;
    padding: 1rem;
  }

  mat-datepicker-toggle{
    color: white;
  }
  mat-datepicker-toggle:hover{
    color: blue;
  }
  .mat-raised-button {
    color: white;
    background-color: #cc5050;
  }
  .fa-exclamation-triangle{
    color: yellow;
    text-align: end;
  }
  .mat-raised-button:hover {
    color: #343a40;
    background-color: white;
  }

  .fa-spinner{
    color: #cc5050;
    font-size:24px;
  }

  mat-form-field {
    width: 70%;
    margin: 0.5em;
  }
  
  mat-card-content,
  mat-card-actions {
    color: white;
  }
  