<div fxLayout="row" fxLayoutAlign="center center" class="login-main" fxLayoutGap="1rem">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
          <h3>Login</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field class="example-full-width">
        <mat-label>Email Address</mat-label>
        <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
              [(ngModel)]="email"
              #userName
              placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address <i class="fas fa-exclamation-triangle"></i>
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Your Password</mat-label>
        <input  matInput type="text"
                #userPassword
                [formControl]="passwordFormControl" [errorStateMatcher]="matcher" 
                [(ngModel)]="password"
                minlength="8"
                [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
  <mat-icon style="margin-bottom: 0.5rem">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
</button>
<mat-hint style="color:white" align ="end">{{ userPassword.value?.length }} / 8</mat-hint>
  <mat-error *ngIf="passwordFormControl.hasError('required')">
    <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
  </mat-error>
  <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
    Password must contain at least 8 characters <i class="fas fa-exclamation-triangle"></i>
  </mat-error>
  </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="signIn(userName.value, userPassword.value)">
        Log In
      </button>
    </mat-card-actions>
    <mat-card-footer style="line-height: 2;">
      <a routerLink="/authentication/forgot-password">Forgot your Password ?</a>
      <br>
      <span>Don't have an account yet ?<a routerLink="/authentication/register-user" class="sign-up">  Sign Up</a></span>
    </mat-card-footer>
  </mat-card>
</div>
