img{
    width: 300px;
    height: 300px;
}
mat-grid-list{
    padding: 1em;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: #343a40 !important;
    color: #cc5050 !important;
}

ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #cc5050 !important;
    color: white !important;
    border: none !important;
}

.container{
    margin-top: 5vh;
    /* padding: 1em; */

}

mat-label{
    color: black;
}

.fa-exclamation-triangle{
    color: yellow;
    text-align: end;
  }

mat-icon {
    cursor: pointer;
}