  <form fxLayout="row" fxLayoutAlign="center" class="container">
    <mat-form-field fxFlex ="40">
      <mat-label> Search</mat-label>
      <input matInput [(ngModel)]="searchItem" [matAutocomplete]="auto"
        [formControl]="searchFormControl">

      <mat-autocomplete #auto="matAutocomplete" >
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
         {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-icon fxFlex = "10" matSuffix (click)="search()">search</mat-icon>
  </form>

<mat-grid-list fxLayout="row" fxLayoutAlign="center center" *ngIf="(images$ | async)" cols="5">
  <mat-grid-tile *ngFor="let image of array | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" [colspan]="1" [rowspan]="1">
    <img src="{{image.webformatURL}}">
    <mat-grid-tile-footer> Photo teken by {{image.user}} </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
<ngb-pagination
  fxLayout="row" fxLayoutAlign="center center"
  *ngIf = "(images$ | async) && array.length !== 0"
  [(page)]="page"
  size="lg"
  [pageSize]="pageSize"
  [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
  [collectionSize]="array.length"></ngb-pagination>

  <div  fxLayout="column" fxLayoutAlign="center center" 
        *ngIf = "searchFlag || (array.length === 0 && (images$ | async))" class="noResults">
    <h5>Sorry we do not find what you are looking for, try one of the following: </h5>
    <ul>
      <li *ngFor = "let option of searchOptions"> {{option}} </li>
    </ul>
  </div>