<div *ngIf = "!(userProfile$ | async)">
    Loading Data...
    <i class="fa fa-spinner fa-spin"></i>
  </div>
<div *ngIf = "(userProfile$ | async)" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem" class="edit-profile">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <h3>Edit Your Profile</h3>
            </mat-card-title>
        </mat-card-header>
        <form #profileForm (ngSubmit)="onSubmit()">
            <mat-card-content fxLayout="column">
                <mat-form-field class="example-full-width">
                    <mat-label>First name</mat-label>
                    <input  matInput type="text" [formControl]="firstNameFormControl" 
                            [errorStateMatcher]="matcher"
                            [(ngModel)]="firstName">
                    <mat-error *ngIf="firstNameFormControl.hasError('required')">
                        <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Last name</mat-label>
                    <input  matInput type="text" [formControl]="lastNameFormControl" 
                            [errorStateMatcher]="matcher"
                            [(ngModel)]="lastName">
                    <mat-error *ngIf="lastNameFormControl.hasError('required')">
                        <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Date of birth</mat-label>
                    <input matInput [matDatepicker]="dp3" [min]="minDate" [max]="maxDate"
                        [formControl]="birthFormControl" [errorStateMatcher]="matcher" [(ngModel)]="birth"
                        disabled="disabled">
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    <mat-error *ngIf="birthFormControl.hasError('required')">
                        <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
                    </mat-error>
                </mat-form-field>
                <mat-label>Gender </mat-label>
                <div>
                    <mat-radio-group fxLayout="column" fxLayoutGap="1rem" [(ngModel)]="gender"
                         name="newGender"
                        #userGende>
                        <mat-radio-button class="example-radio-button" 
                            *ngFor="let gender of genders" [value]="gender">
                            {{ gender }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">
                    Update
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>