.edit-profile {
    margin-top: 10%;
    width: 100%;
  }
 
  input::placeholder {
    color: white;
    opacity: 0.5;
  }
  mat-card {
    width: 100%;
    color: white;
    background-color: #343a40;
    padding: 2rem;
  }
  .fa-exclamation-triangle{
    color: yellow;
    text-align: end;
  }

  .mat-raised-button {
    color: white;
    background-color: #cc5050;
  }
  
  .mat-raised-button:hover {
    color: #343a40;
    background-color: white;
  }
  .fa-spinner{
    color: #cc5050;
    font-size:24px;
  }
  
  mat-form-field {
    width: 60%;
    margin: 0.5em;
  }
  mat-datepicker-toggle{
    color: white;
  }
  mat-datepicker-toggle:hover{
    color: blue;
  }
  
  mat-card-content,
  mat-card-actions {
    color: white;
  }
  