<div fxLayout="row" fxLayoutAlign="center center" class="verify-email-main">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          Thank You for Registering
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <div *ngIf="userData as user">
          <p >We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Please check your email and click on the link to 
              verfiy your email address.</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="SendMail()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </mat-card-actions>
      <mat-card-footer>
        <span>Go back to?<a class="redirect" (click) = "navigateToLogin()"> Sign in</a></span>
      </mat-card-footer>
    </mat-card>