<section fxLayout="column" fxLayoutAlign="center center" class="wrapper">
    <div fxLayout="column" fxLayoutGap="4rem" fxLayoutAlign="center center" class="backdrop">
      <h1>Welcome to Inso<span>lution</span></h1>
      <div fxLayout="row" fxLayoutGap="3rem">
        <i class="fas fa-heartbeat"></i>
        <i class="fas fa-stethoscope"></i>
        <i class="fab fa-accessible-icon"></i>
      </div>
      <div>
        <h4>One Day I would Love To Say That I USED To Have DIABETES</h4>
      </div>
    </div>
</section>
