.mat-tab-link{
    font-weight: bold;
    color:#cc5050 ;
}
mat-expansion-panel-header{
    padding: 7px;
}
.mat-tab-nav-bar-underline{
    color:#cc5050 ;
}
.fa-spinner{
    color: #cc5050;
    font-size:24px;
  }
ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: #343a40 !important;
    color: #cc5050 !important;
}

ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #cc5050 !important;
    color: white !important;
    border: none !important;
}