<nav mat-tab-nav-bar [backgroundColor]="background">
    <a mat-tab-link *ngFor="let link of links" (click)="activeLink = link.text; slected()"
        [active]="activeLink == link.text"> {{link.text}} </a>
</nav>
<div *ngIf="!(articles$ | async)">
    <p> Loading articles...</p>
    <i class="fa fa-spinner fa-spin"></i>
</div>

<mat-accordion *ngIf="(articles$ | async)">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        *ngFor="let article of articlesArray | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{article.title}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="article.author !== null"> by {{article.author}}</p>
        <p>{{article.description}}</p>
        <p>the full article: <a href="{{article.url}}">click here</a></p>
        <p>powered by <a href="NewsAPI.org">NewsAPI.org</a></p>
    </mat-expansion-panel>
</mat-accordion>
<ngb-pagination fxLayout="row" fxLayoutAlign="center center" *ngIf="(articles$ | async)" [(page)]="page" size="lg"
    [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
    [collectionSize]="articlesArray.length"></ngb-pagination>