<div *ngIf = "!(userProfile$ | async)">
  Loading Data...
  <i class="fa fa-spinner fa-spin"></i>
</div>
<div *ngIf = "(userProfile$ | async)" fxLayout="row" fxFlex = "50" fxLayoutAlign="center" class="profile-main">
    <mat-card fxLayout="column" fxLayoutAlign="center start" >
      <mat-card-header>
        <mat-card-title>
          <h3>Your Profile</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-list>
          <mat-list-item class = "item"> 
            <mat-label class="item-label">First name: </mat-label>
              {{ firstName }}</mat-list-item>
          <mat-divider class="divider"></mat-divider>
          <mat-list-item class = "item">
            <mat-label class="item-label">Last name: </mat-label>
              {{ lastName }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class = "item">
            <mat-label class="item-label">Age: </mat-label>
             {{ age.toFixed(2) }} </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class = "item">
            <mat-label class="item-label">Gender: </mat-label>
             {{ gender }} </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class = "item">
            <mat-label class="item-label">Email: </mat-label>
             {{ email }} </mat-list-item>
        </mat-list>
      </mat-card-content>
     <mat-card-actions>
      <button mat-raised-button color="primary" (click) = "openDialog(uid)">
        Edit Your Profile
      </button>
     </mat-card-actions>
    </mat-card>
  </div>
  