.profile-main {
    margin-top: 5%;
    margin-left: 20%;
  }

  mat-card {
    color: white;
    background-color: #343a40;    
  }
  
  .item-label{
    margin-right:1em ;
}
.fa-spinner{
  color: #cc5050;
  font-size:24px;
}
 
  .item {
    color: white;
  }

  .mat-divider{
    background-color: white;

  }
  .mat-raised-button {
    color: white;
    background-color: #cc5050;
  }
  
  .mat-raised-button:hover {
    color: #343a40;
    background-color: white;
  }
  
  mat-card-content,
  mat-card-actions
   {
    margin-left: 1vw;
  }
  