<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem" class="register-main">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h3>Create account</h3>
      </mat-card-title>
    </mat-card-header>
    <form (ngSubmit)= "signUp()"> 
    <mat-card-content fxLayout="column">
        <mat-form-field class="example-full-width">
          <mat-label>First name</mat-label>
          <input  matInput type="text"
          [formControl]="firstNameFormControl" [errorStateMatcher]="matcher" 
          [(ngModel)]="firstName">
          <mat-error *ngIf="firstNameFormControl.hasError('required')">
            <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Last name</mat-label>
          <input  matInput type="text"
          [formControl]="lastNameFormControl" [errorStateMatcher]="matcher" 
          [(ngModel)]="lastName">
          <mat-error *ngIf="lastNameFormControl.hasError('required')">
            <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
          </mat-error>
        </mat-form-field>
        <mat-form-field >
          <mat-label>Date of birth</mat-label>
          <input  matInput [matDatepicker]="dp3"
                  [min]="minDate" [max]="maxDate"
                  [formControl]="birthFormControl" [errorStateMatcher]="matcher" 
                  [(ngModel)] = "birth" disabled="disabled">
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          <mat-error *ngIf="birthFormControl.hasError('required')">
            <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
          </mat-error>
          </mat-form-field>        
        <mat-label>Gender </mat-label>
            <div>
              <mat-radio-group
            fxLayout="column"
            fxLayoutGap="1rem"
            [(ngModel)]="gender"
            name = "newGender"
            #userGende>
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let gender of genders"
            [value]="gender">{{ gender }}
          </mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="genderError">
          <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
        </mat-error>
            </div>
            <mat-form-field class="example-full-width">
              <mat-label>Email Address</mat-label>
              <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    [(ngModel)]="email"
                    placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address <i class="fas fa-exclamation-triangle"></i>
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Your Password</mat-label>
              <input  matInput type="text"
              [formControl]="passwordFormControl" [errorStateMatcher]="matcher" 
              [(ngModel)]="password"
              minlength="8"
              [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
        <mat-icon style="margin-bottom: 0.5rem">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
         <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
          Password must contain at least 8 characters <i class="fas fa-exclamation-triangle"></i>
        </mat-error>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">
        Sign Up
      </button>
    </mat-card-actions>
  </form>
    <mat-card-footer>
      <span>Already have an account ? <a class="redirect" routerLink="/authentication/log-in">Log In</a></span>
    </mat-card-footer>
  </mat-card>
</div>
