<mat-nav-list  fxFlex fxLayout="column">
  <section>
    <h3>Inso<span>lution</span></h3>
  </section>
  <mat-list *ngIf="authService.isLoggedIn">
    <mat-list-item *ngFor="let link of links">
      <a routerLink="{{ link.ref }}" (click) = "onClose()">
        <h5 *ngIf="(link.text !== 'Logout')">
          <span class='red'>{{ link.text }}</span>
        </h5>
        <h5 *ngIf="(link.text === 'Logout')" (click)="SignOut()"><span class='red'>{{ link.text }}</span></h5>
      </a>
    </mat-list-item>
  </mat-list>
  <mat-list *ngIf="!authService.isLoggedIn">
    <mat-list-item>
      <a routerLink="/authentication/log-in">
        <h5>
          <span class='red'>Log in</span>
        </h5>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/authentication/register-user">
        <h5>
          <span class='red'>Sign up</span>
        </h5>
      </a>
    </mat-list-item>
  </mat-list>
</mat-nav-list>