mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

a {
    text-decoration: none;
    color: white;
}

.navigation_items {
    list-style: none;
    padding: 0;
    margin: 0;
}

mat-list-item:hover,
mat-list-item:active,
mat-nav-list a:hover,
mat-nav-list a:active {
    background: #343a40 !important;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}

.b {
    padding-left: 6px;
}

mat-list-item:hover {
  visibility: visible;
  color: #cc5050;
  font-size: 1rem;
}

mat-list-item:hover .red {
  color:#cc5050;
}

mat-nav-list {
  background-color: lightgray;
  color: white;
}

h3 {
  margin-left: 1.5vw;
}

h3 span {
  color: #cc5050;
}

section {
  background-color: #343a40;
}