mat-card{
  min-width: 30%;
  color: white;
  background-color: #343a40;
  padding: 2rem;
}
.card{
  margin-top: 10%;
  min-width: 40%;
  color: white;
  background-color: #343a40;

}

mat-card-footer{
  margin-left: 10px;
}
.chart {
  min-width: fit-content;
  width: 600px;
  height: 300px;
  margin-left: 100px;
  padding: 50px;
}

.hide {
  display: none;
}

.mat-raised-button {
  color: white;
  background-color: #cc5050;
}
canvas{
  background-color: #343a40;
}
.mat-raised-button:hover {
  color: #343a40;
  background-color: white;
}

.checkBtn{
  margin: 10px;
  display: inline-block;
  text-align: center;
}
mat-card-content {
  margin-left: 1vw;
}
mat-header-row,
mat-row,
mat-paginator{
  background-color: #343a40;
  color: white;
}
mat-cell,
mat-header-cell {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}
.pageSizeOptions{
  color: white;
}
.fa-trash-alt{
  color: #cc5050;
}
.fa-pen,
.fa-trash-alt {
  margin: 0.5em;
  cursor: pointer;
}
.result{
  background-color: lightgreen;
  display: inline-block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  text-align: center;
}
.background{
  background-color: lightcoral;
}
.wrapper,
#bloodPressure{
  margin-top: 5vh;
}

#chart{
  margin-left: auto;
  margin-right: auto;
}
.table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}