<section  class="wrapper" fxLayoutAlign='center' fxLayoutGap="10rem"  *ngIf="flag === false" 
          [ngClass]="{'hide': !(info$ | async)}">
  <mat-card>
    <mat-card-content fxLayout="column">
      Hey, click the red button and find out your BMI (and more)
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button routerLink="/insoCheck" class="checkBtn">Find for me</button>
    </mat-card-footer>
  </mat-card>
</section>

<section [ngClass]="{'hide': flag === false}">
  <mat-card *ngIf = "(classifiedResults$ | async) && flag" [ngClass] ="{'background': lastResult > 0.5 }" 
            _ngcontent-c2 fxLayoutAlign="space-around stretch" fxLayout="column" class="wrapper result">
    <mat-card-title>
      your result: {{lastResult.toFixed(3)}}
    </mat-card-title>
    <mat-card-content>
      <p>{{ message }}</p>
    </mat-card-content>
  </mat-card>

  <section _ngcontent-c2 fxLayoutAlign="space-around stretch" fxLayout="column" class="wrapper">
    <div class = "table">
      <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.createdAt.toDate() | date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="insulin">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Blood insulin level </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.insulin}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="glucose">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Glucose </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.glucose}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="diastolic">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Diastolic </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.diastolic}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element" class="action-link"> 
            <a (click)="openDialog(element)"><i class="fas fa-pen"></i></a> | 
            <a (click)="delete(element.id)"><i class="far fa-trash-alt"></i></a>  
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [length]="length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 25]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </section>
    <section _ngcontent-c2 class="wrapper" fxLayoutAlign="space-around center"  fxLayout="column">
      <div id ="chart" class = "col-md-5">
        <canvas id="bmiChart"></canvas>
      </div>
      <div id ="chart" class = "col-md-5">
        <canvas id="bloodPressure"></canvas>
      </div>
    </section>
</section>