<div>
    <div class="content-container">
        <mat-icon id="close-icon" (click)="onNoClick()"> close</mat-icon>
        <span class="content-span full-width"> Are you sure to delete record?</span>
    </div>
    <button id="no-button" mat-flat-button (click)="onNoClick()">No</button>
    <button id="yes-button" mat-flat-button [mat-dialog-close]="data.key">Yes</button>
</div>