<mat-toolbar>
  <div fxHide.gt-sm fxHide.gt-md fxHide.gt-lg>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon class="menu">
        menu
      </mat-icon>
    </button>
  </div>
  <div *ngIf="auth.isLoggedIn" class="logo">
    <a  routerLink="/dashboard" 
        matTooltip="Home" 
        matTooltipPosition="right">
        Inso<span>lution</span>
      </a>
  </div>
  <h1 *ngIf="!auth.isLoggedIn" class="logo">Inso<span>lution</span></h1>
  <div fxFlex fxLayout fxLayoutAlign="flex-start">
    <ul *ngIf="auth.isLoggedIn" fxHide.lt-md class="nav navbar-nav flex-row">
      <li *ngFor="let link of systemLinks">
        <a routerLink="{{ link.ref }}">
          <h5>
            <mat-icon><i class="fas fa-tint"></i></mat-icon>
            <span class='red'>{{ link.text }}</span>
          </h5>
        </a>
      </li>
    </ul>
  </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul *ngIf="auth.isLoggedIn" fxHide.lt-md class="nav navbar-nav flex-row">
      <li *ngFor="let link of userLink">
        <a routerLink="{{ link.ref }}">
          <h5 *ngIf="!(link.text === 'Logout')">
            <mat-icon *ngIf="(link.text !== 'Logout')"><i class="fas fa-tint"></i></mat-icon>
            <span class='red'>{{ link.text }}</span>
          </h5>
          <h5 *ngIf="(link.text === 'Logout')" (click)="SignOut()">
            <span class='red'>{{ link.text }}</span>
          </h5>
        </a>
      </li>
    </ul>
    <div *ngIf="auth.isLoggedIn" class="welcome">
      Welcome 
      <p>{{userName}}</p>
    </div>
    <ul *ngIf="!auth.isLoggedIn" fxHide.lt-md class="nav navbar-nav flex-row">
      <li>
        <button mat-raised-button color="primary" routerLink="/authentication/log-in"> Log in</button>
      </li>
      <li>
        <button mat-raised-button class="signup-btn" routerLink="/authentication/register-user"> Sign up</button>
      </li>
    </ul>
  </div>
</mat-toolbar>