.fotgot-password-main{
    margin-top: 10%;
    }
mat-card{
    min-width: 40%;
}

mat-card {
  min-width: 30%;
  color: white;
  background-color: #343a40;
  padding: 2rem;
}

input::placeholder {
  color: white;
  opacity: 0.5;
}
.mat-raised-button {
  color: white;
  background-color: #cc5050;
}

.mat-raised-button:hover {
  color: #343a40;
  background-color: white;
}

a {
  color: #cc5050 !important;
  text-decoration: none;
}

a:hover {
  color: ivory !important;
  transition: 0.9s;
}

mat-form-field {
  width: 60%;
  margin: 0.5em;
}

.fa-exclamation-triangle{
  color: yellow;
  text-align: end;
}

mat-card-content,
mat-card-actions,
mat-card-footer {
  margin-left: 1vw;
}

.mat-card-subtitle {
  color: ivory;
}

mat-card-subtitle {
  margin-top: 1rem !important;
}
