<div fxLayout="row" fxLayoutAlign="center center" class="fotgot-password-main">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h3>Reset Your Password</h3>
      </mat-card-title>
      <mat-card-subtitle>
        Please enter your email address to request a password reset
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field class="example-full-width">
        <mat-label>Email Address</mat-label>
        <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
              [(ngModel)]="email"
              placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address <i class="fas fa-exclamation-triangle"></i>
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          <strong>required</strong><i class="fas fa-exclamation-triangle"></i>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="resetPassword()">
        Reset Password
      </button>
    </mat-card-actions>

    <mat-card-footer>
      <span>Go back to <a class="redirect" routerLink="/authentication/log-in">Log In</a></span>
    </mat-card-footer>
  </mat-card>
