/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: "Montserrat", sans-serif;
  /* background-color: ivory; */
}

.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

/* mat-confirm-dialog (customised dialog) */
.delete-dialog-container .mat-dialog-container {
  border-radius: .25em .25em .4em .4em;
  padding: 0px;
}
.delete-dialog-container .content-container{
  margin: 5px 5px 15px 5px;
  color: #8f9cb5;
  display: inline-flex;
}
.delete-dialog-container #close-icon{
  margin-left: auto;
  order: 2;
  font-weight: bolder;
  color:black;
}
.delete-dialog-container #close-icon:hover{
cursor: pointer;
}

.delete-dialog-container #no-button{
height: 50px;
width: 48%;
background-color: #fc7169;
color:black;
border-radius: 0px;
margin: 2px;
}

.delete-dialog-container #yes-button{
  height: 50px;
  width: 49%;
  background-color: #b6bece;
  color:black;
  border-radius: 0px;
  margin: 2px;
}

.delete-dialog-container span.content-span{
  padding:  35px 16px;
  text-align: center;
  font-size: 20px;
  color: black;
}
mat-card{
 padding: 3rem !important; 
}
.mat-form-field-underline {
  background-color: white !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #cc5050  !important;
}

.mat-form-field .mat-form-field-label {
  color: white  !important;
}

.mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #cc5050  !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #343a40  !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #343a40 ;
}

.mat-input-invalid .mat-input-placeholder {
  color: #343a40 ;
}

.mat-input-invalid .mat-input-ripple {
  background-color: #343a40 ;
}

button,
.mat-raised-button {
  background-color: #343a40 ;
  color: #343a40 ;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: white  !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: white  !important;
}

.mat-success {
  background-color: white ;
  color: #fff;
}

snack-bar-container.info {
  background-color: #81BEF7;
}
